.env

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/aws-resources
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
vocab-files
truven-files
volume

.infra/terraform.tfvars

truven-project.txt